if SHIELD_BENPOINT_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "BenPoint"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BENPOINT_LEFT || SHIELD_BENPOINT_RIGHT

config ZMK_SPLIT
    default y

endif